{{- $personal := promptBoolOnce . "personal" "Is this a personal machine" -}}
{{- $profileRef := "op://Dotfiles/Work Profile" -}}
{{- if $personal -}}
{{-   $profileRef = "op://Dotfiles/Personal Profile" -}}
{{- end -}}
{{- $opAccount := promptStringOnce . "op_account" "1Password account UUID, blank if single account (op account list)" -}}

[data]
  personal = {{ $personal }}
  profile_ref = {{ $profileRef | quote }}

[onepassword]
  prompt = false
{{- if env "OP_SERVICE_ACCOUNT_TOKEN" }}
  mode = "service"
{{- end }}
{{- if $opAccount }}
  args = ["--account", {{ $opAccount | quote }}]
{{- end }}
