[user]
{{- if .personal }}
	name = caipira113
	email = nya@caipira.link
	signingkey = {{ onepasswordRead "op://SSH agent/kyg4agemt7axtvtbpuq34ckuea/public key" }}
{{- else }}
	name = Insung Jo
	email = {{ .work_email }}
	signingkey = {{ onepasswordRead (printf "op://Work/%s/public key" .work_signing_key_item) }}
{{- end }}

[gpg]
	format = ssh

[gpg "ssh"]
{{- if eq .chezmoi.os "darwin" }}
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- else if eq .chezmoi.os "windows" }}
	program = op-ssh-sign.exe
{{- else if eq .chezmoi.os "linux" }}
{{-   if contains "WSL" .chezmoi.kernel.osrelease }}
	program = op-ssh-sign-wsl.exe
{{-   else }}
	program = /opt/1Password/op-ssh-sign
{{-   end }}
{{- else }}
	program = /opt/1Password/op-ssh-sign
{{- end }}

[init]
	defaultBranch = main

[core]
	autocrlf = input
{{- if eq .chezmoi.os "windows" }}
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{- else if eq .chezmoi.os "linux" }}
{{-   if contains "WSL" .chezmoi.kernel.osrelease }}
	sshCommand = ssh.exe
{{-   end }}
{{- end }}

[commit]
	gpgsign = true
