[user]
{{- $profileRef := .profile_ref }}
	name = {{ onepasswordRead (printf "%s/git_name" $profileRef) }}
	email = {{ onepasswordRead (printf "%s/git_email" $profileRef) }}
	signingkey = {{ onepasswordRead (onepasswordRead (printf "%s/git_signing_key_ref" $profileRef)) }}

[gpg]
	format = ssh

[gpg "ssh"]
{{- if eq .chezmoi.os "darwin" }}
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- else if eq .chezmoi.os "windows" }}
	program = op-ssh-sign.exe
{{- else if eq .chezmoi.os "linux" }}
{{-   if contains "WSL" .chezmoi.kernel.osrelease }}
	program = op-ssh-sign-wsl.exe
{{-   else }}
	program = /opt/1Password/op-ssh-sign
{{-   end }}
{{- else }}
	program = /opt/1Password/op-ssh-sign
{{- end }}

[init]
	defaultBranch = main

[core]
{{- if eq .chezmoi.os "windows" }}
	autocrlf = true
{{- else }}
	autocrlf = input
{{- end }}
{{- if eq .chezmoi.os "windows" }}
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{- else if eq .chezmoi.os "linux" }}
{{-   if contains "WSL" .chezmoi.kernel.osrelease }}
	sshCommand = ssh.exe
{{-   end }}
{{- end }}

[commit]
	gpgsign = true
