{{ if ne .chezmoi.os "windows" -}}
[plugins]
clang-format = "https://github.com/mise-plugins/mise-llvm.git"
clangd = "https://github.com/mise-plugins/mise-llvm.git"
{{ end -}}

[tools]
aws = { version = "latest", symlink_bins = "true" }
bat = "latest"
btop = "latest"
bun = "latest"
chezmoi = "latest"
{{ if and (eq .chezmoi.os "windows") (eq .chezmoi.arch "arm64") -}}
"github:schollz/croc" = { version = "latest", asset_pattern = "croc_*_Windows-ARM64.zip" }
{{- else -}}
croc = "latest"
{{- end }}
deno = "latest"
eza = "latest"
fd = "latest"
fzf = "latest"
gcloud = "latest"
gh = "latest"
git-lfs = "latest"
go = "latest"
helm = "latest"
hexyl = "latest"
java = "zulu-21"
kubectl = "latest"
lazygit = "latest"
neovim = "latest"
node = "lts"
oha = "latest"
python = "3.12"
rclone = "latest"
ripgrep = "latest"
rust = "latest"
sccache = "latest"
starship = "latest"
tmux = "latest"
upx = "latest"
uv = "latest"
yt-dlp = { version = "latest", rename_exe = "yt-dlp" }
{{ if ne .chezmoi.os "windows" -}}
cmake = "latest"
ninja = "latest"
clang-format = "latest"
clangd = "latest"
{{- end }}
